node_modules/ 
architectureDiagram_files/.$architectureDesign.drawio.bkp
thesis/.~lock.DissertationThesis.docx#
thesis/.~lock.cap2.docx#
oauth2_cred/
testing/
testDocumentUpload/
front/
authservice.zip
documentservice.zip
identityVerificationService.zip
votingService.zip