.buttonDeviceType {
    position: relative;
    padding: 10px 32px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #babec2;
    border: none;
    border-radius: 50px;
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }
  
  .buttonDeviceType:hover {
    transform: scale(1.05);
    color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .buttonDeviceType:active {
    transform: scale(0.9);
  }

  .buttonDeviceType::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #babec2, #C5CAE9);
    transition: left 0.4s ease-in-out;
    z-index: -1;
    border-radius: 50px;
  }
  
  .buttonDeviceType:hover::before {
    left: 0;
  }