  .markercluster-map {
    height: 70px;
    width: 70px;

  }
  .card-map {
    height: 850px;
    width: 100%;
    border-radius: 20px;
    position: relative; /* Use relative or absolute depending on your layout */
    /* background-color: red; */
  }
  
  #map {
    height: 100%; /* Make the map fill the container */
    border-radius: inherit; /* Inherit border-radius from the container */
  }

  
  .select-hospital {
    width: 150px;
    height: 35px;
    background: white;
    color: gray;
    padding-left: 5px;
    font-size: 14px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;

  }
    /* option {
      color: black;
      background: white;
      display: flex;
      white-space: pre;
      min-height: 20px;
      padding: 0px 2px 1px;
    } */