.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
  }

.form-container {
    max-width: 400px;
    background-color: #ffffff;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #212121;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    z-index: 9999;
    overflow: hidden;
  }
  
  .form-container button:active {
    scale: 0.95;
    z-index: 9999;
  }
  
  .form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    z-index: 9999;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    z-index: 9999;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    z-index: 9999;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
    z-index: 9999;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
    z-index: 9999;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #1778f2;
    z-index: 9999;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
    z-index: 9999;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #313131;
    z-index: 9999;
  }
  
  .form-container .link {
    color: #1778f2;
    text-decoration: none;
    z-index: 9999;
  }
  
  .form-container .signup-link {
    align-self: center;
    font-weight: 500;
    z-index: 9999;
  }
  
  .form-container .signup-link .link {
    font-weight: 400;
    z-index: 9999;
  }
  
  .form-container .link:hover {
    text-decoration: underline;
    z-index: 9999;
  }
  

























  .formForgot {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .titleForgot {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .titleForgot::before,.titleForgot::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .titleForgot::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .titleForgot::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .messageForgot, .signinForgot {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signinForgot {
    text-align: center;
  }
  
  .signinForgot a {
    color: royalblue;
  }
  
  .signinForgot a:hover {
    text-decoration: underline royalblue;
  }
  
  .flexForgot {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .formForgot label {
    position: relative;
  }
  
  .formForgot label .inputForgot {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .formForgot label .inputForgot + .spanForgot {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .formForgot label .spanForgot.active {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
    color: grey;
  }
  
  .formForgot label .inputForgot:placeholder-shown + .spanForgot {
    top: 15px;
    font-size: 0.9em;
  }
  
  .formForgot label .inputForgot:focus + .spanForgot,.formForgot label .inputForgot:valid + .spanForgot {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .formForgot label .inputForgot:valid + .spanForgot {
    color: rgb(0, 0, 0);
  }
  
  .submitForgot {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submitForgot:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  