.formRegister {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 380px;
    max-height: 500px; /* Add this line to set the maximum height */
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    overflow-y: auto; /* Add this line to enable vertical scrolling */
  }
  
  .titleRegister {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .titleRegister::before,.titleRegister::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .titleRegister::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .titleRegister::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .messageRegister, .signinRegister {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signinRegister {
    text-align: center;
  }
  
  .signinRegister a {
    color: royalblue;
  }
  
  .signinRegister a:hover {
    text-decoration: underline royalblue;
  }
  
  .flexRegister {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .formRegister label {
    position: relative;
  }
  
  .formRegister label .inputRegister {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .formRegister label .inputRegister + .spanRegister {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }

  .formRegister label .spanRegister.active {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
    color: grey;
  }
  
  .formRegister label .inputRegister:placeholder-shown + .spanRegister {
    top: 15px;
    font-size: 0.9em;
  }
  
  .formRegister label .inputRegister:focus + .spanRegister,.formRegister label .inputRegister:valid + .spanRegister {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .formRegister label .inputRegister:valid + .spanRegister {
    color: rgb(0, 0, 0);
  }
  
  .submitRegister {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submitRegister:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }







  /* .checkbox-wrapper-4 * {
    box-sizing: border-box;
    color: white;
  }
  
  .checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
  }
  
  .checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
  }
  
  .checkbox-wrapper-4 .cbx:hover {
    background: rgba(0,119,255,0.06);
  }
  
  .checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
  }
  
  .checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  
  .checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
  }
  
  .checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #07f;
  }
  
  .checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
  }
  
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
  }
  
  .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  
  .checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
  }
  
  @media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
      width: 100%;
      display: inline-block;
    }
  }
  
  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  } */



  /*------ Settings ------*/
.container {
  --color: #a5a5b0;
  --size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.container .chevron-down {
  position: absolute;
  animation: keyframes-return .5s;
}

/* ------ On check event ------ */
.container input:checked ~ .chevron-down {
  animation: keyframes-rotate .5s;
  transform: rotate(180deg);
}

/* ------ Hide the default checkbox ------ */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-rotate {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes keyframes-return {
  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }

  100% {
    transform: rotate(0deg);
  }
}